<p>Click on squares to make move selections</p>
<div name="boardContainer">
<%=
render :partial => "board", :object => @board, :locals=>{:game_id =>@game_id,:should_build_link=>@should_build_link}
%>
</div>
<%
if @outcome
%><%=
render :partial => "outcome", :object => @outcome
%><%=
render :partial => "stats", :object => @stats
%><%
end
%>

