<p>Click on squares to make move selections</p>
<div name="boardContainer">
<%=
render :partial => "board", :object => @board, :locals=>{:game_id =>@game_id,:winner=>@winner}
%>
</div>
<%
if @winner
%><%=
render :partial => "winner", :object => @winner
%><%=
render :partial => "stats", :object => @stats
%><%
end
%>

