<p>Click on squares to make move selections</p>
<div name="boardContainer">
<%= render :partial => "board", :object => @board, :locals=>{:board_id =>@board_id}%>
</div>
<%
if @winner
puts @winner
%><%=
render :partial => "winner", :object => @winner
%><%
end
%>

